body {
    margin: 0;
    background-color: #FFDFF6;
    font-family: Arial, sans-serif;
    padding-top: 50px;
    transition: padding-top 0.9s ease;
    font-size: 16px;
}

.tprin {
    text-align: center;
    font-family: 'Courgette', cursive;
    color: #333333;
    font-size: 21px;
}


p {
    text-align: justify;
    padding-left: 20px;
    font-family: 'Spectral', serif;
    font-size: 25px;
    /* Puedes ajustar este valor según tu preferencia */
}

.encabezado {
    background-color: #FFA8BD;
    color: #fff;
    padding: 8px 20px;
    /* Reducido el padding arriba y abajo */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    /* Tamaño de fuente reducido */
    text-align: center;
    /* Centra el texto en el encabezado */
    transition: transform 1.5s ease-out;
    font-size: 20px;
}

.encabezado.oculto {
    transform: translateY(-100%);
    /* Mueve el encabezado fuera de la pantalla cuando está oculto */
}

.hamburguesa {
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 50px;
    z-index: 3;
    color: black;
    padding: 10px;
    border-radius: 90%;
}


.menu-lateral {
    width: 250px;
    height: 100vh;
    background-color: #DCF3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 1;
    padding-top: 100px;
    transition: left 0.3s ease;
}

.menu-lista {
    list-style: none;
    padding: 10;
    width: 100%;
}

.menu-lista li {
    width: 100%;
    margin-top: 40px;
}

.menu-lista li a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    transition: background-color 0.9s ease-in-out;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2em;
}

.menu-lista li a:hover {
    background-color: #FFA8BD;
    color: #fff;

}

.contenido {
    padding: 70px 20px 20px;
    transition: margin-left 0.6s ease-in-out;
}

.menu-lateral.activo {
    left: 0;
}

.contenido.activo {
    margin-left: 250px;
    transition: margin-left 0.1s ease-in-out;
}

.textopag {
    color: #000;
}

.footer,
.pie-de-pagina {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFA8BD;
    color: #4B4B4B;
    padding: 3px;
    margin: 0;
    text-align: center;
    font-size: 14px;
}


.cosas {
    counter-reset: item;
    list-style: none;
    margin: 0;
    padding: 0;
}

.elementos{
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 21px;
    font-family: 'Marck Script', cursive;
    color: #333;
}

.elementos::before {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #A754DF;
}

.two-column-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    flex: 1 0 90%;
}

.two-column-list li {
    flex: 1 0 40%;
    margin: 10px;
    text-align: center;
    
}


.two-column-list li a {
    display: block;
    padding: 20px;
    border: 2px solid #3498db;
    background-color: #dcaceb;
    color: #2c3e50;
    font-family: 'Marck Script', cursive;
    font-size: 23px;
    border-radius: 10px;
    text-decoration: none; 
    transition: all 0.3s ease;
}

.two-column-list li a:hover, .two-column-list li a:focus {
    background-color: #d1c4e9;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.two-column-list li a:visited {
    color: #2c3e50; 
}

.imagen-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.imagen-container img {
    width: 200px; 
    height: auto;
}
.subtitulos
{
    font-family: 'Satisfy', cursive;
    font-size: 28px;
}